<md-dialog class="profile" aria-label="Profile">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>{{currProfile.name}}</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-set="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column">
      <div class="md-dialog-content" layout="column" layout-align="none center">
        <img class="profile__src" alt="{{user.name.split(' ')[0]}}'s Profile Picture" 
        src="{{currProfile.src}}" />
        <p class="profile__desc">
          "{{currProfile.description}}"
        </p>
        <p class="profile__info"> 
          <span ng-show="currProfile.role && currProfile.employer">
          {{currProfile.role}} at {{currProfile.employer}}
          <br/>
          </span>
          Class of {{currProfile.class}}, {{currProfile.major}} major
          <br/>
          Currently in {{currProfile.city}}
          <br/>
          <br/>
          <md-divider></md-divider>
          <br/>
          Once a part of: <br/>
          <span ng-repeat="membership in currProfile.memberships">{{membership.club}}<br/></span>
        </p>
    </md-dialog-content>
    <md-dialog-actions 
      ng-show="currProfile.fbId != myProfile.fbId"
      class="profile__actions" 
      layout="row" 
      layout-sm="column"
      layout-align="center center"
    >
        <!-- Facebook Button -->
        <md-button 
          ng-click="triggerFBDialog(currProfile.fbId)"
          md-theme="blue"
          class="profile__button md-primary md-raised">
          Send Facebook Message
        </md-button>
        <!-- LinkedIn Button -->
        <a ng-show="currProfile.li" 
          ng-href="{{currProfile.li}}"
        >
          <md-button 
            md-theme="teal"
            class="profile__button md-primary md-raised">
            View LinkedIn 
          </md-button>
        </a>
    </md-dialog-actions>
  </form>
</md-dialog>