<div class="update__container" layout="column">
	<div
		class="update__slide"
		layout="column"
		ng-style="{'background-image': 'url({{bg}})'}"
	>
		<div 
			class="update__slide--translucence"
			layout="column"
			layout-align="center center"
		>

		</div>
	</div>
	<div 
		layout="column" 
		ng-cloak 
		class="md-inline-form"
		flex
	>
		<md-content
			md-theme="orange"
			layout="column"
			layout-align="none center"
			layout-padding
		>
			<div class="update__body--text">
				<p>
					If you wish to include or update your details, submit them here!
				</p>
			</div>
			<div>
				<form 
					name="userForm" 
					class="update__form"
				>
					<div layout="column" layout-gt-xs="row">
						<md-input-container flex>
							<label>Describe yourself (or your college experience) in a single line.</label>
							<input ng-model="inputUser.description" required>
						</md-input-container>
					</div>
					<div layout="column" layout-gt-xs="row">
						<md-input-container flex-gt-xs="40">
							<label>Current Occupation</label>
							<input ng-model="inputUser.role">
						</md-input-container>
						<md-input-container flex-gt-xs="60">
							<label>Current Employer</label>
							<input ng-model="inputUser.employer">
						</md-input-container>
					</div>
					<div layout="column" layout-gt-xs="row">
						<md-input-container flex-gt-xs="100">
							<label>LinkedIn URL</label>
							<input ng-model="inputUser.li">
						</md-input-container>
					</div>
					<div layout="column" layout-gt-xs="row">
						<md-input-container flex-gt-xs="33">
							<label>Class of ...</label>
							<md-select ng-model="inputUser.class" required>
					        	<md-option value="2017">2017</md-option>
					            <md-option value="2018">2018</md-option>
								<md-option value="2019">2019</md-option>
							</md-select>
						</md-input-container>
						<md-input-container flex-gt-xs="33">
							<label>Major</label>
					        <md-select ng-model="inputUser.major" required>
								<md-option value="Anthropology">Anthropology</md-option>
					            <md-option value="Arts and Humanities">Arts and Humanities</md-option>
								<md-option value="Economics">Economics</md-option>
								<md-option value="Environmental Studies">Environmental Studies</md-option>
								<md-option value="Global Affairs">Global Affairs</md-option>
								<md-option value="History">History</md-option>
					            <md-option value="Life Sciences">Life Sciences</md-option>
					            <md-option value="Literature">Literature</md-option>
					            <md-option value="MCS">MCS</md-option>
								<md-option value="Philosophy">Philosophy</md-option>
								<md-option value="Physical Sciences">Physical Sciences</md-option>
					            <md-option value="PPE">PPE</md-option>
					            <md-option value="Psychology">Psychology</md-option>
								<md-option value="Urban Studies">Urban Studies</md-option>
					        </md-select>
						</md-input-container>
						<md-input-container flex-gt-xs="33">
							<label>Current City</label>
							<input ng-model="inputUser.city">
						</md-input-container>
					</div>					
					<div layout="column" layout-gt-xs="row">
						<md-input-container flex>
							<label>Once a part of... (e.g. Acappella, YIRPA,  Basketball)</label>
							<textarea ng-model="inputUser.clubs" md-maxlength="50" rows="2" md-select-on-focus>	
							</textarea>
						</md-input-container>
					</div>
					<div layout="column" layout-align="none center">
						<md-input-container class="md-block">
        					<md-checkbox ng-model="inputCoordAgree" required>
          						I wish to mark my current coordinates on the Yale-NUS Alumni Network Map.
        					</md-checkbox>
        				</md-input-container>
						<md-button type="submit" ng-click="submit()">Submit</md-button>
					</div>
				</form>
			</div>
		</md-content>
	</div>
</div>